html,body {
	background-color: #BFCFFF;
	margin: 0px;
	padding:0px;
	width: 100%;
	height: 100%;
}

h1 {
	font-family: Verdana;
	font-weight: bold;
	font-size: 12pt;
	padding:0px;
	margin-top:10px;
}

#forms {
	float:left;
	width:20%;
	height: 95%;
}

#map {
	float:right;
	width:80%;
	height: 100%;
}

#coords {
	padding-left: 20px;
	height: 65%;
}

#coefs {
	padding-left: 20px;
	height: 20%;
}

#headist{
	padding-left: 20px;
	height: 15%;
}

textarea {
	width: 94%;
	border: 1px solid black;

}

#headistText {
  clear:both;
  border: 1px solid black;
	margin-right: 10px;
  padding:20px;
  font-family: Arial;
  font-weight:bold;
}

.left {
	padding-right: 10px;
	float: left;
}

.right {
	margin-right: 10px;
	float: right;
}

.clear {
  clear:both;
}